<!-- views/trainings/_form_fields.ejs -->
<label for="">Name</label>
<input type="text" name="name" value="<%= training.name %>">

<label for="">Type</label>
<input type="text" name="type" value="<%= training.type %>">

<label for="">Duration</label>
<input type="number" name="duration" value="<%= training.duration %>">

<label for="">Repetitions</label>
<input type="number" name="repetitions" value="<%= training.repetitions %>">

<label for="">Intensity</label>
<select name="intensity">
    <option value="short" <%= training.intensity === 'short' ? 'selected' : '' %>>Short</option>
    <option value="medium" <%= training.intensity === 'medium' ? 'selected' : '' %>>Medium</option>
    <option value="long" <%= training.intensity === 'long' ? 'selected' : '' %>>Long</option>
</select>
